<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crazy Life Meal Planning</title>
</head>
<body>
<div class="container">
    <div class="text-block">
        <h1 style="text-align: center">Crazy Life Meal Planning</h1>
        <h3 style="text-align: center">Meal Planing for the busy person</h3>
        <p style="text-align: center">A place to keep all your favorite meals and plan out your meals for the next week. </p>
    </div>

    <button class="btn btn-primary">
        <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </button>
    <button class="btn btn-primary">
        <a routerLink="registration" class="nav-link" routerLinkActive="active">Register</a>
    </button>
</div>
</body> 

