body{
    background-image: url(src/assets/images/271679.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
}
 form{
    background-color: cornsilk;  
    padding: 10%;
}
h1{
    color: rgb(218, 6, 6);
    font-family: coppertone;
}
.btn-primary{
    background-color: red;
    color: white;
    border-style: none;
    margin-left: 45%;
    margin-top: 10%;
}


    